<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>x64</Platform>
    <PublishDir>bin\Release\net8.0-windows10.0.19041.0\win10-x64\publish\</PublishDir>
    <PublishProtocol>FileSystem</PublishProtocol>
    <TargetFramework>net8.0-windows10.0.19041.0</TargetFramework>
    <RuntimeIdentifier>win10-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>false</PublishSingleFile>
    <PublishReadyToRun>false</PublishReadyToRun>
    <PublishTrimmed>false</PublishTrimmed>
    <EnableMsixTooling>true</EnableMsixTooling>
    <WindowsPackageType>MSIX</WindowsPackageType>
    <PackageCertificateThumbprint></PackageCertificateThumbprint>
    <AppxPackageDir>bin\Release\net8.0-windows10.0.19041.0\win10-x64\AppX\</AppxPackageDir>
    <AppxBundle>Never</AppxBundle>
    <AppxBundlePlatforms>x64|ARM64</AppxBundlePlatforms>
    <GenerateAppInstallerFile>false</GenerateAppInstallerFile>
    <AppxPackageSigningEnabled>false</AppxPackageSigningEnabled>
    <PackageCertificateKeyFile></PackageCertificateKeyFile>
    <PackageCertificatePassword></PackageCertificatePassword>
  </PropertyGroup>
</Project>